.ui.pointing.secondary.menu-left.menu .icon {
    color: #bcc4d3;
}
span.hello {
    color: #bcc4d3;
    font-family: rubik;
    font-size: 16px;
    padding-right: 3px;
}

.menu-profile span{
    font-family: "rubik";
    font-size: 16px;
}
span.profile-name {
    font-size: 16px;
    font-family: rubik;
}
.ui.pointing.secondary.menu-left.menu {
    padding-bottom: 12px;
}
.content-header h2{
    font-family: "rubik";
}
.content-secondary-title {
    color: #bcc4d3;
    font-family: "rubik";
    font-size: 16px;
}
.badge {
    position: absolute;
    top: 0.2px;
    left: 22px;
    background-color: #1d215e !important; 
 
}
.ui.icon.input.search-box {
    width: 240px !important;
    font-size: 16px;
}
.search-box input{
    border-radius: 0.8rem !important;
}