.bell-notification{
    background: url('./bell.svg') no-repeat;
    height: 100px;
    width: 100px;
}
.ui.pointing.secondary.menu-left.menu .icon {
    color: #a7a7a7;
}
span.hello {
    color: #a7a7a7;
}

.menu-profile span{
    font: "dinpro";
    font-size: 18px;
}
.ui.pointing.secondary.menu-left.menu {
    padding-bottom: 12px;
}